<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/objects_menu" %>
<% end %>

<h3 class="col-md-12"><%= t('common.armor.title_index') %></h3>
  <% @communs.each do |categorie, armors| %>
    <h4><%= categorie %></h4>
    <%= render "armor_index_table", commons: armors %>
  <% end %>
