<div class="media">
    <div class="pull-left media-middle">
        <%= image_tag(comment.character.avatar_url, size:"65x65", class: "media-object img-responsive ", alt: comment.character.name) %>
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            <%= comment.character.name %>
            <%= link_to 'X', comment_path(comment.id), method: :delete, data: { confirm: "Supprimer le commentaire #{@comment.id} ?" }, class: "btn btn-danger btn-xs pull-right" %>
        </h4>
        <%= simple_format comment.comment %>
    </div>
</div>
<hr>
