<div class="box">
  <h4><%= comment.user.name %> <small>le <%= comment.updated_at.in_time_zone("Europe/Paris").strftime("%d/%m/%Y à %H:%M:%S") %></small><span class="pull-right">X</span></h4>
        <p>
          <%= comment.comment %>
        </p>
</div>
<hr>
