<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "dm_tools/dm_tools_menu" %>
<% end %>

<h1>Modification du monstre</h1>

<%= render 'form' %>

<%= link_to 'Back', dm_tools_monster_path(@monster) %>
