<h4>Talents par tier</h4>
<ul>
  <li><%= link_to "Talents héroiques", heroics_feats_path %></li>
  <li><%= link_to "Talents parangoniques", parangonics_feats_path %></li>
  <li><%= link_to "Talents épiques", epics_feats_path %></li>
</ul>
