<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <p>A venir...</p>
<% end %>

<h2>Les races</h2>
<p>Les différents races de DD4. Description à venir.</p>

<div class="row">
  <% @races.each do |r| %>
    <% name = r.name.downcase.gsub(/[Éé]/, 'e').gsub(/[\s]/, '_') %>
    <% image = File.join('mini_icones', name + '.jpg') %>
    <div class="col-sm-2" style="height: 100px"><%= link_to(image_tag(image, :class =>'box'), race_path(r), title: r.name)%></div>
  <% end %>
</div>
