<div class="row">
  <h3 class="col-sm-12"><%= t('.title_index') %></h3>
</div>

<% @races.each_slice(6) do |slices| %>
  <div class="row">
    <% slices.each do |r| %>
      <% image = File.join('mini_icones', normalize_str(r.name) + '.jpg') %>
      <div class="col-sm-2 space">
        <figure>
          <%= link_to(image_tag(image, id: "image_#{r.id}", class: 'box img-responsive img-rounded center-block'), race_path(r), title: r.name) %>
          <figcaption class="text-center"><small><%= r.name %></small></figcaption>
        </figure>
      </div>
    <% end %>
  </div>
<% end %>
