<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <h4 class="col-sm-11 black-bg white-text">Talent</h4>
        </div>
        <div class="row">
            <div class="col-sm-11">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th class="col-sm-4 center thin-text">Talent</th>
                            <th class="col-sm-8 center thin-text">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="">Todo</td>
                            <td class="">Todo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <h4 class="col-sm-11 black-bg white-text">Rituels</h4>
        </div>
        <div class="row">
            <div class="col-sm-11">
                <p>WIP : Afficher les rituels</p>
            </div>
        </div>
    </div>
</div>
