<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <h4 class="col-sm-11 black-bg white-text">Roleplay</h4>
    </div>
    <div class="row">
      <div class="col-sm-11">
        <p><%= @character.roleplay %></p>
      </div>
    </div>
  </div>
</div>
