<div class="tab-pane" id="stuff" role="tabpanel">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <h4 class="col-sm-11 black-bg white-text">Équipements</h4>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <p>WIP : Afficher les équipements</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tab-pane" id="roleplay" role="tabpanel">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <h4 class="col-sm-11 black-bg white-text">Roleplay</h4>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <p>WIP : Afficher les éléments roleplay</p>
                </div>
            </div>
        </div>
    </div>
</div>
