<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "dm_tools/dm_tools_menu" %>
<% end %>

<div class="row">
  <h3 class="col-sm-12"><%= t('.title_index') %></h3>
</div>

<div class="row">
  <div class="col-sm-12">
    <% if !@encounters.empty? %>
      <%= render "index_table", encounters: @encounters %>
    <% else %>
      <p><%= t('.no_encounters') %></p>
    <% end %>
  </div>
</div>
