<h4>Rencontre en cours. budget : <span id="currentBudget">0</span> XP</h4>

<table id="monsters_list" class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th class="col-sm-1" colspan="3"># </th>
      <th class="col-sm-4">Nom</th>
      <th class="col-sm-2">Rôle</th>
      <th class="col-sm-1">Niv.</th>
      <th class="col-sm-2">Exp.</th>
      <th class="col-sm-2">Total</th>
      <th class="col-sm-1" ></th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
