<%= form_tag "#", class: "form-horizontal" do %>
  <div class="row">
    <div class="form-group">
      <%= label_tag(:monster, Monster.model_name.human, class: "col-sm-2 control-label") %>
      <div class="col-sm-9">
        <%= select_tag :monster, options_from_collection_for_select(@monsters, :id, :show_level_name, :nil), class: "select-monster form-control", :include_blank => true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-6">
      <div class="col-sm-offset-4 col-sm-4">
        <%= button_tag "Ajouter ce monstre", id: "add_monster", type: "button", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
