<div>
<h4>Objets communs</h4>
  <ul>
    <li><%= link_to "Les armes communes", object_common_weapons_path %></li>
    <li><%= link_to "Les armures communes", object_common_armors_path %></li>
    <li>Les boucliers communs</li>
  </ul>
<h4>Objets magiques</h4>
  <ul>
    <li><%= link_to "Les armes magiques", object_magic_weapons_path %></li>
    <li>Les armures magiques</li>
    <li>Les focaliseurs magiques</li>
    <li>Les équipements magiques</li>
  </ul>
</div>
