<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/object" %>
<% end %>

<p>Liste des objets communs: </p>

<% if @communs.empty? %>
  <p>Aucun objet</p>
<% else %>
  <%  @communs.each do |c| %>
  c.nom
  <% end %>
<% end %>

<p><%= link_to "Ajouter un objet communs", "/objects/create_objet_commun" %></p>