<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/objects_menu" %>
<% end %>

<%# Page principale%>
<h2>Les objets de DD4</h2>

<div>
  <p>Lorsque vous affrontez méchants et monstres dans leur tanière, vous vous retrouvez souvent dans des situations ne pouvant trouver une issue favorable qu'avec des armes et de la magie. Si vous n'avez pas de pouvoirs magiques, vous feriez mieux d'avoir une arme ou deux. Mais même si vous avez des pouvoirs, vous réaliserez bien vite qu'une bonne arme n'est jamais inutile.
  </p>
  <p>Vous avez donc besoin de protection, d'armes et d'outils pour vous aider à affronter épreuves, dangers et privations. Un explorateur mal préparé finit bien souvent par se blesser ou se perdre (voire pire encore), alors équipez-vous pour faire face aux périls que vous allez côtoyer durant vos aventures.</p>
  <p>Voici un aperçu du contenu de cette section&nbsp;:</p>
  <p>♦ Armes&nbsp;: les instruments de base du combat pour de nombreux personnages, allant des épées aux armes d'hast.<br>
    ♦ Armures et boucliers&nbsp;: le matériel indispensable pour se protéger au combat.<br>
  ♦ Objets magiques&nbsp;: si vous avez de l'argent à dépenser en objets magiques, cette partie vous présente ce qui se fait de mieux en la matière. Vous y trouverez armes et armures magiques, et bien d'autres choses encore...</p>
</div>
