<div class="row">
  <h3 class="col-sm-12"><%= t('.title_new')%><br><small><%= Campaign.model_name.human(count: 1) %> : <%= @campaign.name %></small></h3>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render "form" %>
  </div>
</div>
