<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= "A venir" %>
<% end %>

<h2>Création d'une nouvelle partie</h2>

<div class="row">
  <div class=" col-sm-8">
    <%= render "form" %>
  </div>
</div>
