<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= "A venir" %>
<% end %>

<h2>Partie du <%= @game.played %></h2>

<p>Description: <%= simple_format @game.description %></p>

<%= link_to "Retourner vers la campagne", campaign_path(@campaign) %>
