<div class="row">
  <h2 class="col-sm-12">Import des objets, talents, monstres et rencontres de monstres</h2>
</div>
<div class="row">
  <div class="col-sm-12">
    <ul>
      <li><%= link_to "Items",                items_welcomes_path %>      </li>
      <li><%= link_to "Talents",              feats_welcomes_path %>      </li>
      <li><%= link_to "Monstres",             monsters_welcomes_path %>      </li>
      <li><%= link_to "Rencontres",           encounters_welcomes_path %>      </li>
    </ul>
  </div>
</div>
