<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "login" %>
<% end %>

<div class="row" >
  <h1 class="col-sm-offset-1 col-sm-10">Aide au jeu de rôle Donjons &amp; Dragons 4</h1>
  <%= image_tag('general/chibi_banniere.jpg', alt: 'banniere', class: "box no-padding img-responsive col-sm-offset-1 col-sm-10") %>
</div>
