<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/login" %>
<% end %>

<section>
  <h1>Aide au jeu de rôle Donjons &amp; Dragons 4</h1>
  <article>
    <div>
      <p>Bonjour et bienvenue sur ce site dédié à D&amp;D4.</p>
      <p>Le site est destiné avant tout au groupe de joueurs dont je fais partie, ainsi qu'aux amis curieux qui souhaitent voir ce que je fais. Si vous êtes tombés sur ce site par hasard, vous pouvez vous inscrire, mais vous n'aurez pas accès à l'ensemble du site.</p>
      <p>Le but de ce site est principalement de fournir une base de donnée de tous les objets et talents écrits dans les différents livres de règles et codex disponibles en français, que vous retrouverez dans les sections <em>Objets</em> et <em>Talents</em>.<br />
      De plus, certains points de règles seront expliqués dans la partie <em>Aides de jeux</em>, et il sera également décrit les règles maisons que nous utilisons lors de nos campagnes.<br />
      Une dernière section, <em>Classes et Races</em>, donnera un bref résumé des classes et races existantes dans D&amp;D4.</p>
      <p>D'autres sections viendront; je pense notamment pour décrire nos campagnes actuelles, en faire des résumés, etc.</p>
      <p>J'hésite à créer un forum: l'avantage serait d'avoir un espace dédié pour discuter de Donjon. L'inconvénient est qu'avec moins de 10 personnes, un forum semble très vite mort et peu intéressant.<br />
      Dites-moi ce que vous en pensez (par commentaire ou par facebook).</p>
      <p>Illisae</p>
    </div>
  </article>
</section>
