<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "login" %>
<% end %>

<div class="row" >
  <h1 class="col-sm-12">Aide au jeu de rôle Donjons &amp; Dragons 4</h1>
</div>
<div class="row">
    <% @random_items.each do |item| %>
      <div class="col-sm-6">
        <%= render "/items/magic_items/show_item", item: item %>
      </div>
    <% end %>
</div>
