<%
  total = 0
  html = ''
  @stats.each do |s|
    total += s[:table_count]
    html += "<li> #{s[:table_name]} :  #{s[:table_count]} </li>"
  end
%>
<div class="row">
  <h3 class="col-sm-12">Page de statistiques : <%= total %> lignes enregistrés en base</h3>
</div>
<div class="row">
  <div class="col-sm-12">
    <ul>
      <%= html.html_safe %>
    </ul>
  </div>
</div>
