<h4>Liste de souhaits </h4>
<% if @character_magic_items.empty? %>
    <p><small> <em>Aucun souhait de renseigné.</em></small><p>
<% else %>
    <ul class="list-group padding-left">
        <% @character_magic_items.each do |item| %>
            <li><%= link_to item.name, items_magic_item_path(item.id) %></li>
        <% end %>
    </ul>
<% end %>
