<%# Sidebloc content%>
<% content_for :sidebloc do %>
 <%= render "sidebloc/user_menu" %>
<% end %>

<div class="row">
  <h3 class="col-sm-12"><%= t('character.title_new')%></h3>
</div>

<div class="row">
  <div class=" col-sm-8">
    <%= render "form" %>
  </div>
</div>
