<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/object" %>
<% end %>

<p>Liste des armures communes: </p>

<% if @communs.empty? %>
  <p>Aucun objet</p>
<% else %>
  <%  @communs.each do |c| %>
  c.name
  <% end %>
<% end %>

<p><%= link_to "Ajouter une armure commune", "/common_armors/add" %></p>
