<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/object" %>
<% end %>

<p>Liste des objets communs: </p>

<% if @communs.empty? %>
  <p>Aucun objet</p>
<% else %>
  <%  @communs.each do |c| %>
    <p><%= link_to c.name, object_common_weapon_path(c.id)  %> - <%= link_to 'Supprimer', object_common_weapon_path(c.id), method: :delete %></p><br>
  <% end %>
<% end %>

<p><%= link_to "Ajouter une arme commune", new_object_common_weapon_path %></p>
