<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/objects_menu" %>
<% end %>

<div class="row">
  <h3 class="col-sm-12"><%= t('magic.weapon.title_index') %></h3>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render "form_search" %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render "index_table", weapons: @weapons %>
  </div>
</div>
