<h3>Commentaires</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <ul class="nav nav-tabs">
        <li role="presentation" id="roleplay" class="comment-nav active"><a href="#">Roleplay</a></li>
        <li role="presentation" id="debrief" class="comment-nav"><a href="#">Debriefing</a></li>
        <li role="presentation" id="note-perso" class="comment-nav"><a href="#">Notes personnelles</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="content-roleplay" class="comment-content">
        <% if @rp_comments.empty? %>
            <p><small>Il n'y a actuellement aucun commentaires roleplay</small></p>
        <% else %>
            <br>
            <%= render @rp_comments %>
        <% end %>
        </div>
        <div id="content-debrief" class="comment-content hidden">
        <% if @debrief_comments.empty? %>
            <p><small>Il n'y a actuellement aucun debriefing</small></p>
        <% else %>
            <br>
            <%= render @debrief_comments %>
        <% end %>
        </div>
        <div id="content-note-perso" class="comment-content hidden">
        <% if @note_comments.empty? %>
            <p><small>Vous n'avez écrits aucune notes personnelles</small></p>
        <% else %>
            <br>
            <%= render @note_comments %>
        <% end %>
        </div>
    </div>
</div>
<% if @current_user %>
    <hr />
    <%= render 'comments/form' %>
<% else %>
    <p>Connectez-vous pour écrire un commentaire.</p>
<% end %>
