<h3><small><%= t('.count_game', count: @games.size) %></small></h3>
<ul class="list-group padding-left">
    <% @games.each do |g| %>
        <li><%= link_to "Partie du #{g.played.strftime("%d/%m/%Y")}", campaign_game_path(@campaign, g) %></li>
    <% end %>
</ul>
<% if @campaign.game_master?(@current_user) %>
    <p><%= link_to t('.new_game_link'), new_campaign_game_path(@campaign.id) %></p>
<% end %>
