<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/campaign_menu" %>
<% end %>

<h3>Campagnes</h3>

<div>
  <p>Liste de toutes les campagnes en cours et terminées</p>
  <p><%= link_to "Créer une nouvelle campagne", new_campaign_path %></p>
</div>


