<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "character_creation" %>
<% end %>

<div class="row">
  <h3 class="col-sm-12"><%= t('characters.title_new')%></h3>
  <h4>Choix des talents</h4>
  TODO

  <%= debug params %>
</div>
<br>
