// Place all the styles related to the magic_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.no-padding {
  padding: 0;
}

.no-border-line {
 border: 0;
 padding: 3px;
}

.bg-title {
  color: white !important;
  background-color: #daa634 !important;
}
