<div class="row">

<table class="table table-striped table-hovered">
  <thead>
    <tr>
      <th>Pseudo</th>
      <th>Date de création</th>
      <th>Nombre de héros</th>
      <th>Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
          <td><%= u.name %></td>
          <td><%= u.created_at.strftime("%d/%m/%y %H:%M:%S") %></td>
          <td><%= u.characters.count %></td>
          <td><%= link_to 'X', admin_user_path(u.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
