<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "items/items_side_menu" %>
<% end %>

<div class="row">
  <h3 class="col-sm-12"><%= t('.title_index', kind: t(".#{@kind}")) %></h3>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render "form_search", url: find_correct_url(@kind) %>
  </div>
</div>
</br>
<div class="row">
  <div class="col-sm-12">
    <%= render "index_table", items: @items, count: @items_count %>
  </div>
</div>
