<!DOCTYPE html>
<html>
<head>
  <title>Aide au jeu de rôle Donjons & Dragons 4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1><a href="/" title="Page d&#039;accueil" class="active">Aide au jeu de rôle Donjons &amp; Dragons 4</a></h1>
</header>

<nav>
  <h2 role="navigation">Menu principal</h2>
 <ul class="nav nav-tabs">
    <li role="presentation" class="activ"><a href="/objets" title="Menu dirigeant vers la page des objets magiques et commun">Objets</a></li>
    <li role="presentation"><a href="/talents" title="Menu listant les talents de DD4">Talents</a></li>
    <li role="presentation"><a href="/classes-et-races">Classes et Races</a></li>
    <li role="presentation"><a href="/aides_de_jeux">Aides de jeux</a></li>
    <li role="presentation"><a href="/generateur-de-butin" title="Générateur de butin">Trésor</a></li>
    <li role="presentation"><a href="/membres">Membres</a></li>
    <li role="presentation"><a href="/contribuer" title="Ajouter un objet ou talent">Contribuer</a></li>
  </ul>
</nav>
<%= yield %>

</body>
</html>
