<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <%= render "sidebloc/objects_menu" %>
<% end %>

<div class="row">
  <h3 class="col-sm-12"><%= t('.title_edit') %></h3>
</div>

<%= render "form" %>
