<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <p>A venir...</p>
<% end %>

<div class="row">
  <h3 class="col-sm-12"><%= t('.title_index') %></h3>
</div>

<div class="row">
  <% @klasses.each do |klass| %>
    <div class="col-sm-2" style="height: 40px"><%= link_to klass.name, klass_path(klass) %></div>
  <% end %>
</div>
