<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <p>A venir...</p>
<% end %>

<h2>Les classes</h2>
<p>Les différents classes de DD4. Description à venir.</p>

<div class="row">
  <% @klasses.each do |klass| %>
    <div class="col-sm-2" style="height: 40px"><%= link_to klass.name, klass_path(klass) %></div>
  <% end %>
</div>
