<%# Sidebloc content%>
<% content_for :sidebloc do %>
  <p>A venir...</p>
<% end %>

<div class="row">
  <h3 class="col-sm-12"><%= t('.title_index') %></h3>
</div>

<div class="row">
  <% @klasses.each do |role, klasses| %>

    <div class="col-sm-3">
    <h4><%= role.capitalize %></h4>
      <ul>
      <% klasses.each do |k| %>
        <li><%= link_to k.name, klass_path(k) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
