<%# Sidebloc content%>
<% content_for :sidebloc do %>
 <%= render "sidebloc/klasses_menu" %>
<% end %>

<div class="row">
  <div class="col-sm-8">
    <%= render "resume", klass: @klass %>
  </div>
  <div class="col-sm-4">
    <figure>
      <% image = File.join('images_classes', 'image_' + normalize_str(@klass.name) + '.png') %>
      <%= image_tag(image, id: "image_#{@klass.id}", class: ' img-responsive img-rounded center-block') %>
      <figcaption class="text-center"><small><%= @klass.name %></small></figcaption>
    </figure>
  </div>
</div>
